<div class="container well mainContainer">
	<div class="row">
		<div class="jumbotron" style="margin-top: -14px; margin-bottom:-14px; padding-top:10px;">
			<p>
			<h1 class="special-title">Kursy</h1>
			</p>
			<p></p>
			<form>
				<div class="form-group">
					<label for="categoryId">Kategorie kursów</label> 
					<select id="categoryId" class="form-control" name="categoryId">
						<%_.each(model.models, function (category) { %>
						<option value="<%=category.get('id')%>"><%=category.get('name')%></option>
						<% }); %>
					</select>
				</div>

				<button type="submit" class="btn btn-lg btn-success" style="width:100%" id="button-start">Nauka</button>
			</form>


		</div>
	</div>



</div>