<div class="container well mainContainer">
	<div class="row">
		<div class="jumbotron" style="margin-top: -14px; margin-bottom:-14px; padding-top:10px;">
			<h1 class="special-title"><%=model.first().get('category').name%></h1>
			<div class="hidden" id="result">
			   <p>Twój wynik.</p>
			   <p id="total-question">Liczba wszystkich pytań: <span></span></p>
			   <p id="correct" style="color: green;">Poprawne odpowiedzi: <span></span></p>
			   <p id="incorrect" style="color: red;">Niepoprawne odpowiedzi: <span></span></p>
			</div>
			<div id="curse">
			<p id="question">
				Pytanie: <span></span>
			</p>
			<div class="text-center" style="margin-bottom: 20px;">
				<img id="image" src="resources/braille/a.jpg">
			</div>
			<form>
				<div class="alert alert-success hidden" role="alert">Bardzo
					dobrze!</div>
				<div class="alert alert-warning hidden" role="alert">
					Niestety źle. Prawidłowa odpowiedź: <b></b>
				</div>
				<div class="form-group">
					<label for="answer">Twoja odpowiedź</label> <input type="text"
						class="form-control" id="answer" placeholder="" value="">
				</div>

				<div class="text-right">
					<button type="submit" class="btn btn-lg btn-success"
						id="button-next">Dalej</button>
					<button type="submit" class="btn btn-lg btn-info" id="button-check">Sprawdź</button>
				</div>

			</form>
			</div>

			<div class="hidden">
				<%_.each(model.models, function (course) { %>
				<div>id <%=course.get('id')%> : name : <%=course.get('name')%>
					img : <%=course.get('img')%> category:
					<%=course.get('category').id%></div>

				<% }); %>
			</div>
		</div>
	</div>


</div>